<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skincare Recommender</title>
    <link rel="stylesheet" href="style.css"/>  
    <link rel="script" href="C:\Users\Hp\Desktop\Hackathon\app.py"/>
    
</head>
<body>

    <div id="bit">
        
        <p class="bitmasters">BitMasters</p>
        
        <a href="signup.html" target="_blank">
            <img src="acc_logo.jpg" width="80" class="logo"/>
        </a>
    </div>

    <div id="skinbuzz">
        <p class="skinb">The <br> त्वक् रक्षणं</p>
    </div>

    <div class="goal">
        <h1 class="h1">OUR GOAL</h1>
        <p class="ourg">We are aiming to change the shape of the skin care access to everyone in India.<br>
        By using cutting edge, AI and extensive database networks, we are able to provide<br>
        best skin care access to everyone in India in couple of clicks.</p>
        
    </div>
    
    <div class="heading">
        <p class="skinrec">Skincare Recommender</p>
    </div>
    <div class="form">
        <form action="recommend.html" method="POST" target="_blank">
            <div class="ager">
                <label for="age_range" >Select Age Range:</label>
                    <select name="age_range" id="skin_type" required>
                        <option value="1">0-12</option>
                        <option value="2">13-17</option>
                        <option value="3">18+</option>
                        <option value="4">65+</option>
                    </select>
            </div>
            <br>
            <div class="skinr">
                <label for="skin_type">Select Skin Type:</label>
                    <select name="skin_type" id="skin_type" required>
                        <option value="1">Normal</option>
                        <option value="2">Oily</option>
                        <option value="3">Combination</option>
                        <option value="4">Dry</option>
                    </select>
            </div>
            <div class="locate">
                <label for="location">Location: </label>
                <input type="text" id="location" required>
            </div>
            <br>
            <input class="submit" type="submit" value="Recommend Skincare Products" required>
            
        </form>
    </div>
    <div id="box"></div>
    <div id="footer">
        <div class="foot">Made for Code4Cause Hackathon</div>
        <div class="members">Vanshaj<br>Dishaa<br>Ashish<br>Prashant<br>Yashaswini</div>
        <div class="made">Made By:-</div>
    </div>
     
</body>
</html>

