<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvak Rakshanan</title>
    <link rel="stylesheet" href="login.css">
    <link rel="php" href="signup.php">
</head>
<body>
    <div id="bit">
        <p class="bitmasters">BitMasters</p>
    </div>

    <div class="signup">Register Here</div>

    <div id="box">
        <form method="POST" action="signup.php">
            <div class="u">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br>
            </div>
            <div class="e">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br>
            </div>
            <div class="p">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
            </div>
            
            <input type="submit" value="Sign Up" class="sign">
            
        </form>
    </div>
</body>
</html>
